# Members of group 3
Thomas Hasvold Adam <thomhas@stud.ntnu.no> <thomas.hasvold@gmail.com>
Magnus Rødseth <magnrod@stud.ntnu.no> <magnus.rodseth@gmail.com>
Henrik Johannes Bjørnstad Skog <hjskog@stud.ntnu.no> <henrikskog01@gmail.com>
Julian Grande <juliangr@stud.ntnu.no>
